# Byte-compiled / optimized / DLL files
*.class
*.log

# Maven target directory
target/

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp

# Configuration files
conf/*.properties
conf/*.yaml

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp


# Dependency directories
lib/
